:root {
    --accent-color: #2C7CEB;
    --primary-text-color: #414042;
    --secondary-text-color: #828282;
    --primary-font-family: "Roboto", sans-serif;
    --primary-font-style: normal;
    --primary-bg-color: #F6F7F9;
    --primary-color: #5495EF;
    --secondary-color: #ffffff;
  }